.custom-modal .modal-dialog {
    max-width: 800px;
    width: 90%;
}

.quill-editor .ql-container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    min-height: 200px;
}

.quill-editor .ql-toolbar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.post-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.post-card:hover {
    transform: scale(1.02);
}

.post-title-preview {
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;      
    max-width: 95%;
    display: block;
}

.post-content-preview {
    position: relative;
    max-height: 120px;
    min-height: 120px;
    overflow: hidden;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.post-modal-body {
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
}

.custom-dialog {
    filter: blur(2px);
}

.loginContainer {
    max-width: 600px;
    margin: 100px auto;
}